<div><table class="default" border="1px solid black" >

    <tr>
      <th>Nombre</th>
      <th>Precio</th>
      <th>Imagen</th>
    </tr>
  
        <% for(let i=0; i < productos.length; i++) { %>
            <tr>
                <td> <%= productos[i].title %></td>
                <td> <%= productos[i].price %></td>
                <td> <img src= " <%= productos[i].thumbnail %> "</td>
            </tr>
        <% } %>

  
  </table></div>